<div
  style="position: fixed; right: 5px; top: 70px; height: 100%; width: 150px;"
>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- blog-post -->
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8581001901732166"
    data-ad-slot="7379325289"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
