<div class="card widget">
  <div class="card-content">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- blog-widget -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:300px"
           data-ad-client="ca-pub-8581001901732166"
           data-ad-slot="4294831094"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
