<div class="card widget">
  <div class="card-content" style="max-height: 300px;">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- auto-widget -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8581001901732166"
        data-ad-slot="7056300775"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
